.bills_apply_form_item{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 200px;
    float:left;
}

.bills_apply_form_alloc_title{
    width:250px;
    display: inline-block;
    font-weight: bold;
    text-align:center;
}

.alloc_item{
    width:250px;
    display: inline-block;
    padding-top: 10px;
     text-align:center;
}

.alloc_action_item{
    display: inline-block;
}

.bills_apply_form_alloc_action{
    display: inline-block;
}

.fancy_box_use_div{
    padding:20px 20px 20px 20px;
    width:200px;
    height:200px;
}